<!-- IF S_DISPLAY_BB3TOPICS_V and .bb3topics_unread -->
<div class="panel bg2">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{L_BB3TOPICS_UNREAD}</h3>
			<ul class="bb3topics_container">
			<!-- BEGIN bb3topics_unread -->
				<li>
				<!-- IF S_BB3TOPICS_DT --><span style="border-bottom: 1px dotted black;">{bb3topics_unread.TIME}</span>&nbsp;<!-- ENDIF --><a href="{bb3topics_unread.U_VIEW_TOPIC}" title="{bb3topics_unread.FULL_TITLE}" class="topictitle">{bb3topics_unread.TITLE}</a><br />
				<!-- EVENT topiclist_row_append -->
				</li>
			<!-- END bb3topics_unread -->
			</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->

<div class="panel" style="<!-- IF S_BB3TOPICS_HEIGHT and not S_DISPLAY_BB3TOPICS_V -->max-height:{S_BB3TOPICS_HEIGHT}px;overflow:auto;<!-- ENDIF -->">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{L_BB3TOPICS}</h3>
			<!-- IF not S_DISPLAY_BB3TOPICS_V -->
			<!-- IF .bb3topics_unread -->
			<div class="bb3topics_block_h"><div class="bb3topics_header">{L_BB3TOPICS_UNREAD}</div>
				<ul class="bb3topics_container">
				<!-- BEGIN bb3topics_unread -->
					<li>
					<!-- IF S_BB3TOPICS_DT --><span style="border-bottom: 1px dotted black;">{bb3topics_unread.TIME}</span>&nbsp;<!-- ENDIF --><a href="{bb3topics_unread.U_VIEW_TOPIC}" title="{bb3topics_unread.FULL_TITLE}" class="topictitle">{bb3topics_unread.TITLE}</a><br />
					<!-- EVENT topiclist_row_append -->
					</li>
				<!-- END bb3topics_unread -->
				</ul>
			</div>
			<!-- ENDIF -->
			<!-- ENDIF -->
			<!-- IF .bb3topics_posts -->
			<div class="bb3topics_block_h"><div class="bb3topics_header">{L_BB3TOPICS_POSTS}</div>
				<ul class="bb3topics_container">
				<!-- BEGIN bb3topics_posts -->
					<li>
					<!-- IF S_BB3TOPICS_DT --><span style="border-bottom: 1px dotted black;">{bb3topics_posts.TIME}</span>&nbsp;<!-- ENDIF --><a href="{bb3topics_posts.U_VIEW_TOPIC}" title="{bb3topics_posts.FULL_TITLE}" class="topictitle">{bb3topics_posts.TITLE}</a><br />
					<!-- EVENT topiclist_row_append -->
					</li>
				<!-- END bb3topics_posts -->
				</ul>
			</div>
			<!-- ENDIF -->
			<!-- IF .bb3topics_topics -->
			<div class="bb3topics_block_h"><div class="bb3topics_header">{L_BB3TOPICS_TOPICS}</div>
				<ul class="bb3topics_container">
				<!-- BEGIN bb3topics_topics -->
					<li>
					<!-- IF S_BB3TOPICS_DT --><span style="border-bottom: 1px dotted black;">{bb3topics_topics.TIME}</span>&nbsp;<!-- ENDIF --><a href="{bb3topics_topics.U_VIEW_TOPIC}" title="{bb3topics_topics.FULL_TITLE}" class="topictitle">{bb3topics_topics.TITLE}</a><br />
					<!-- EVENT topiclist_row_append -->
					</li>
				<!-- END bb3topics_topics -->
				</ul>
			</div>
			<!-- ENDIF -->
			<!-- IF .bb3topics_announces -->
			<div class="bb3topics_block_h"><div class="bb3topics_header">{L_BB3TOPICS_ANNOUNCES}</div>
				<ul class="bb3topics_container">
				<!-- BEGIN bb3topics_announces -->
					<li>
					<!-- IF S_BB3TOPICS_DT --><span style="border-bottom: 1px dotted black;">{bb3topics_announces.TIME}</span>&nbsp;<!-- ENDIF --><a href="{bb3topics_announces.U_VIEW_TOPIC}" title="{bb3topics_announces.FULL_TITLE}" class="topictitle">{bb3topics_announces.TITLE}</a><br />
					<!-- EVENT topiclist_row_append -->
					</li>
				<!-- END bb3topics_announces -->
				</ul>
			</div>
			<!-- ENDIF -->
			<!-- IF .bb3topics_viewed -->
			<div class="bb3topics_block_h"><div class="bb3topics_header">{L_BB3TOPICS_VIEWED}</div>
				<ul class="bb3topics_container">
				<!-- BEGIN bb3topics_viewed -->
					<li>
					<!-- IF S_BB3TOPICS_DT --><span style="border-bottom: 1px dotted black;">{bb3topics_viewed.TIME}</span>&nbsp;<!-- ENDIF --><a href="{bb3topics_viewed.U_VIEW_TOPIC}" title="{bb3topics_viewed.FULL_TITLE}" class="topictitle">{bb3topics_viewed.TITLE}</a><br />
					<!-- EVENT topiclist_row_append -->
					</li>
				<!-- END bb3topics_viewed -->
				</ul>
			</div>
			<!-- ENDIF -->
			<!-- IF .bb3topics_replies -->
			<div class="bb3topics_block_h"><div class="bb3topics_header">{L_BB3TOPICS_REPLIES}</div>
				<ul class="bb3topics_container">
				<!-- BEGIN bb3topics_replies -->
					<li>
					<!-- IF S_BB3TOPICS_DT --><span style="border-bottom: 1px dotted black;">{bb3topics_replies.TIME}</span>&nbsp;<!-- ENDIF --><a href="{bb3topics_replies.U_VIEW_TOPIC}" title="{bb3topics_replies.FULL_TITLE}" class="topictitle">{bb3topics_replies.TITLE}</a><br />
					<!-- EVENT topiclist_row_append -->
					</li>
				<!-- END bb3topics_replies -->
				</ul>
			</div>
			<!-- ENDIF -->
			<!-- IF .bb3topics_votes -->
			<div class="bb3topics_block_h"><div class="bb3topics_header">{L_BB3TOPICS_VOTES}</div>
				<ul class="bb3topics_container">
				<!-- BEGIN bb3topics_votes -->
					<!-- IF S_BB3TOPICS_DT --><span style="border-bottom: 1px dotted black;">{bb3topics_votes.TIME}</span>&nbsp;<!-- ENDIF --><a href="{bb3topics_votes.U_VIEW_TOPIC}" title="{bb3topics_votes.FULL_TITLE}" class="topictitle">{bb3topics_votes.TITLE}</a><br />
					<!-- EVENT topiclist_row_append -->
					</li>
				<!-- END bb3topics_votes -->
				</ul>
			</div>
			<!-- ENDIF -->
			<!-- IF .bb3topics_random -->
			<div class="bb3topics_block_h"><div class="bb3topics_header">{L_BB3TOPICS_RANDOM}</div>
				<ul class="bb3topics_container">
				<!-- BEGIN bb3topics_random -->
					<li>
					<!-- IF S_BB3TOPICS_DT --><span style="border-bottom: 1px dotted black;">{bb3topics_random.TIME}</span>&nbsp;<!-- ENDIF --><a href="{bb3topics_random.U_VIEW_TOPIC}" title="{bb3topics_random.FULL_TITLE}" class="topictitle">{bb3topics_random.TITLE}</a><br />
					<!-- EVENT topiclist_row_append -->
					</li>
				<!-- END bb3topics_random -->
				</ul>
			</div>
			<!-- ENDIF -->
			<!-- IF .bb3topics_personal -->
			<div class="bb3topics_block_h"><div class="bb3topics_header">{L_BB3TOPICS_PERSONAL}</div>
				<ul class="bb3topics_container">
				<!-- BEGIN bb3topics_personal -->
					<li>
					<!-- IF S_BB3TOPICS_DT --><span style="border-bottom: 1px dotted black;">{bb3topics_personal.TIME}</span>&nbsp;<!-- ENDIF --><a href="{bb3topics_personal.U_VIEW_TOPIC}" title="{bb3topics_personal.FULL_TITLE}" class="topictitle">{bb3topics_personal.TITLE}</a><br />
					<!-- EVENT topiclist_row_append -->
					</li>
				<!-- END bb3topics_personal -->
				</ul>
			</div>
			<!-- ENDIF -->
			<!-- IF .bb3topics_sticky -->
			<div class="bb3topics_block_h"><div class="bb3topics_header">{L_BB3TOPICS_STICKY}</div>
				<ul class="bb3topics_container">
				<!-- BEGIN bb3topics_sticky -->
					<li>
					<!-- IF S_BB3TOPICS_DT --><span style="border-bottom: 1px dotted black;">{bb3topics_sticky.TIME}</span>&nbsp;<!-- ENDIF --><a href="{bb3topics_sticky.U_VIEW_TOPIC}" title="{bb3topics_sticky.FULL_TITLE}" class="topictitle">{bb3topics_sticky.TITLE}</a><br />
					<!-- EVENT topiclist_row_append -->
					</li>
				<!-- END bb3topics_sticky -->
				</ul>
			</div>
			<!-- ENDIF -->
			<!-- IF .bb3topics_global -->
			<div class="bb3topics_block_h"><div class="bb3topics_header">{L_BB3TOPICS_GLOBAL}</div>
				<ul class="bb3topics_container">
				<!-- BEGIN bb3topics_global -->
					<li>
					<!-- IF S_BB3TOPICS_DT --><span style="border-bottom: 1px dotted black;">{bb3topics_global.TIME}</span>&nbsp;<!-- ENDIF --><a href="{bb3topics_global.U_VIEW_TOPIC}" title="{bb3topics_global.FULL_TITLE}" class="topictitle">{bb3topics_global.TITLE}</a><br />
					<!-- EVENT topiclist_row_append -->
					</li>
				<!-- END bb3topics_global -->
				</ul>
			</div>
			<!-- ENDIF -->
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

